<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/VVIT_logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
<!---nav bar-->
<nav class="  bg-transparent navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.vvitguntur.com/#"><img src="{% static 'images/VVIT_logo.svg' %}" alt="logo" width="50%"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item back1">
                    <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item back1">
                    <a class="nav-link " href="#">Login</a>
                </li>
                <li class="nav-item back1">
                    <a class="nav-link " href="#">SignUp</a>
                </li>
                <li class="nav-item back1">
                    <a class="nav-link " href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!---nav bar end-->
<div class="container-fluid">
    <div class="row">
        <div class=" bg-transparent  col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">

                <ul class="  bg-transparent nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="DASHBOARD" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <img src="{% static 'images/Dashboard_svg.svg' %}" alt="Dashboard" width="30" height="24">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="PROPERTY_LOSS" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <img src="{% static 'images/Property.svg' %}" alt="Property" width="38" height="38">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="MY_COMPLAINT" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="MyComplaints">
                           <img src="{% static 'images/checklist.svg' %}" alt="My_complaints" width="38" height="38">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="CONTACT_US" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Contact">
                            <img src="{% static 'images/contact_svg.svg' %}" alt="contactus" width="38" height="38">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="COMPLAINT_REGISTRATION" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="AddComplaint">
                            <img src="{% static 'images/add-file.svg' %}" alt="add_complaint" width="38" height="38">
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- End of sidebar -->
        <div class="col-sm p-3 min-vh-100 ">
            <div class="container-fluid">
            <div class="row bg-transparent ">
            <div class=" bg-transparent d-flex flex-row justify-content-between">
            <div class="card bg-transparent col-lg-8  ">
                <div class="card bg-transparent d-flex flex-row justify-content-center">
                <div class="para">
                    <h4> Hi,<strong id="studentName">StudentName </strong>&#x1F44B;<br></h4>
                    <ul>
                    <p>Explore the dashboard for the quick access <br>
                    essentials like filling complaint requests <br>
                    knowing the no of complaints have made.<br>
                    need help?contact our support team we are here for you</p>
                    </ul>
                </div>
                    <div class="image_card ">
                        <img src="{% static 'images/Telecommuting-pana.svg' %}" alt="image"  width="auto">

                    </div>
                </div>
                <p>Recent Complaint History</p>
                <div class="card1 ">
                    <ul>
                    <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>
                        <p>the complaint will be updated here</p>

                    </ul>
                </div>
            </div>
                <div class=" col-lg-4 ">
                <div class="row pb-5 m-2 w-80">
                            <div class="card bg-transparent shadow-sm ">
                                <div class="card-header  text-center">


                                    <img src="{% static 'images/profile.jpg' %}" id="profile-image" alt="image_reload">
                                    <input class="input" type="file" accept="image/jpeg, image/png, image/jpg " id="input-file">
                                    <label for="input-file" class="labels">update-image</label>



                                </div>
                                <div class="card-body">
                                    <form class="forms">
                                        <label for="name">NAME
                                        <input type="text" id="name">
                                        </label>
                                        <label for="rollno">Roll NO
                                        <input type="text" id="rollno">
                                        </label>
                                        <label for="branch">Branch
                                        <input type="text" id="branch">
                                        </label>
                                        <label for="year">Year
                                        <input type="number" id="year">
                                        </label>
                                        <p>No of complaints:</p>
                                        <p>Complaints solved:</p>
                                    </form>
                                    <button class="btn btn-primary" onclick="saveButton()">save</button>

                                </div>
                            </div>

                </div>
                </div>


                <!-- End of col-sm-->
            </div>
    <!-- End of main -->
            </div>
    </div>
</div>
    </div>
</div>

<script>
   let profile = document.getElementById("profile-image");
   let imageFile = document.getElementById("input-file");
   imageFile.onchange=function(){
       profile.src=URL.createObjectURL(imageFile.files[0]);
   }

</script>

</body>
</html>
