
AdvnceLearning/Dj/Microsoft/3.Work with the Django admin site/mslearn-django-admin-site
Projects/Voice_Assistant/
Projects/Web/Calc/
AdvnceLearning/Dj/Microsoft/3.Work with the Django admin site/mslearn-django-admin-site
AdvnceLearning/Dj/Microsoft/3.Work with the Django admin site/mslearn-django-admin-site
AdvnceLearning/Dj/Microsoft/4.Create views and templates in Django/mslearn-django-views-templates/
AdvnceLearning/Dj/Microsoft/5.Use generic views in Django/ms-learn-django-generic-views/
