<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="icon" type="image/x-icon" href="VVIT_logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Your Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container ">
    <div class="row container_margin">
        <div class="d-flex flex-row justify-content-center ">
            <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block order-2">
                <img src="{% static 'images/Login-pan.svg' %}" alt="reload" class=" pt-3 user_img">
            </div>
            <div class="d-none d-sm-none d-md-none d-xl-block d-lg-block col-md-6 col-xl-6 col-xl-6 pt-3 order-1">
                <div class="card ml-5 shadow-lg w-75 h-auto m-3">
                    <h4 class="pt-3">Forgot Password</h4>
                    <p>Please Enter Valid Email address</p>

                    <form>
                        <div class="texts d-flex flex-column justify-content-center"  >
                            <div class="form-floating mb-3 ">
                                <input type="email" class="form-control input_class" id="Input1" placeholder="name@vvit.net">
                                <label for="Input1">Email address</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control input_class" id="Password1" placeholder="Password">
                                <label for="Password1">Password</label>
                            </div>

                            <button type="submit" class="btn mt-3" data-mdb-ripple-init> Login</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>

        <!---another form-->
        <div class="row mt-3 ">
            <div class="d-block d-sm-block d-md-none   col-10 col-md-10 col-sm-10 ">
                <div class="card  pl-5 shadow-lg h-auto ">

                    <img src="Login-pan.svg" alt="reload" class="image_card mt-2 ">
                    <div class="texts d-flex flex-column justify-content-center" >
                        <h4 class="pt-3">Login</h4>
                        <p>Please Enter Valid Email address<br> and password</p>

                        <form>
                            <div class="texts d-flex flex-column justify-content-center"  >
                                <div class="form-floating mb-3 ">
                                    <input type="email" class="form-control input_class" id="Input" placeholder="name@vvit.net">
                                    <label for="Input">Email address</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control input_class" id="Password" placeholder="Password">
                                    <label for="Password">Password</label>
                                </div>
                            </div>

                        </form>

                        <button  type="submit" class="btn btn-primary mt-2"> Login</button>



                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



</body>
</html>