.homepage-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}


/* {CONTENT} */


.homepage-content{
    width: 90%;
    height: 100%;

}


/* {menu} */


.homepage-menu{
    width:200px;
    height:100%;
    background-color: #e87e6a;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 8px 0px 9px #0d0d0d;
}
.homepage-menu-logo{
    height: 100px;
    width: 200px;
    background-image: url(../../../img/logo-2.png);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
.line-break{
    background-color: #F7F4F3;
    height: 10px;
    width: inherit;
    margin: 20px 0 20px 0;
}

.homepage-button{
    padding: 20px 0;
    /* border: 1px solid #F7F4F3; */
    color: #F7F4F3;
    font-family: Poppins-Bold;
    font-size: 25px;
    background-color: #e87e6a;
    text-align: left;
    transition: all 300ms;
}

.homepage-button:hover{
        transform: translateX(2px);
        box-shadow: 2px 2px 5px #000;
        background-color: #F7F4F3;
        color: #e87e6a;
}