<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="home">
        <div class="home-title">
            <div class="home-title-logo"></div>
            <label>Vasireddy Venkatadri Institute of Technology</label>
            <div class="home-title-dd">
                <button>Need Help ?</button>
            </div>
        </div>
        <div class="home-body">
            <div class="nav-container" id="nav-container">
               <div class="open-close-btn" id="open-close-btn" onClick={this.clicked}></div>
               <div id="sidenav" class="sidenav" style="display: none;">
                    <label href="#">Home</label>
                    <label href="#">Academics</label>
                    <label href="#">Placement</label>
                    <label href="#">Facilities</label>
                    <label href="#">About Us</label>    
                </div>
            </div>
            <div class="form-container">
                <h3>Grevience Form</h3>
                <div class="g-form-container">
                    <form class="g-form" method="post" action="{% url 'grievance_form' %}">
                        {% csrf_token %}
                        <div class="g-form-name g-form-e">
                            <label class="l label-name g-form-name-l">Full Name of The Complaintant(student or faculty)</label>
                            <input type="text" class="g-form-name-in in input-name" name="complaintant_name"/>
                        </div>
                        <div class="g-form-reg g-form-e">
                            <label class="l label-reg g-form-reg-l">Registration Number</label>
                            <input type="text" class="g-form-reg-in in input-reg" name="registration_no"/>
                        </div>
                        <div class="g-form-email g-form-e">
                            <label class="g-form-email-l l label-email">Email</label>
                            <input type="email" class="g-form-email-in in input-email" name="email"/>
                        </div>
                        <div class="g-form-who g-form-e">
                            <label class="g-form-who-l l label-who">Who are you ?</label>
                            <div class="g-form-who-opt">
                                <div>
                                    <input type="radio" value="student" id="whoareyou" name="who"/>
                                    <label>Student</label>
                                </div>
                                <div>
                                    <input type="radio" value="faculty" id="whoareyou" name="who"/>
                                    <label>Faculty</label>  
                                </div>
                            </div>
                        </div>
                        <div class="g-form-dept g-form-e">
                            <label class="g-form-dept-l l label-dept">Department</label>
                            <select name="dept" class="in">
                                <option value="cse">CSE</option>
                                <option value="csm">CSM</option>
                                <option value="cic">CIC</option>
                                <option value="cso">CSO</option>
                                <option value="it">IT</option>
                                <option value="mech">MECH</option>
                                <option value="civil">CIVIL</option>
                                <option value="aiml">AIML</option>
                                <option value="EEE">EEE</option>
                                <option value="ECE">ECE</option>
                                <option value="AIDS">AIDS</option>

                            </select>
                        </div>
                        <div class="g-form-year g-form-e">
                            <label class="g-form-year-l l label-year">Year</label>
                            <select name="year" id="year" class="in">
                                <option value="1">1st year</option>
                                <option value="2">2nd year</option>
                                <option value="3">3rd year</option>
                                <option value="4">4th year</option>
                            </select>
                        </div>
                        <div class="g-form-g g-form-e">
                            <label class="g-form-g-l l label-g">Type of Grevience</label>
                            <select name="g" id="g" class="in">
                                <option value="academic">Academic</option>
                                <option value="non-academic">Non-Academic</option>
                                <option value="discrimination">Discrimination</option>
                            </select>
                        </div>
                        <div class="g-form-form g-form-e">
                            <label class="g-form-type label-type l">Grevience column</label>
                            <textarea placeholder="enter your complaints" class="input-textarea in" name="Grevience_column" style="resize: none;">
                            </textarea>
                        </div>
                        <div class="g-form-submit g-form-e">
                            <input class="g-form-sub-in in input-submit" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>