#boxA, #boxB {
    float: left;
    padding: 10px;
    margin: 10px;
}

#boxA {
    background-color: rgb(255, 0, 255);
    border: 1px solid blue;  /* Added border property */
    width: 75px;
    height: 75px;
}

#boxB {
    background-color: blue;
    border: 1px solid rgb(255, 0, 255); /* Added border property, changed to purple color */
    width: 175px;
    height: 175px;
}
