.login-body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../../../img/bg2.jpeg);
    height:fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}